doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title File Metadata Microservice
    link(rel="stylesheet", href="main.css", type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
  body
    .container
      h1 File Metadata Microservice
      form(method="post",enctype="multipart/form-data",action="/")  
        .form-group
          label(for="inputFile") File Input
          input.form-control-file(type="file",name="upl",id="inputFile")
        button.btn.btn-primary(type="submit") Upload  
      .github-link
        a(href="https://github.com/thancock20/file-metadata") See the code on Github
